<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>просмотр юбок</title>

<body>
<h1>Создать юбку</h1>

<div class="container">
    <div class="col">

        <h3 class="row">Детали покупки:</h3>
        <h1>[[${product.getName()}]]</h1>


        <ul class="mt-3" data-th-if="${product instanceOf T(ru.itpark.ulmart.domain.Skirts)}">
            <li class="list-group-item">Имя: [[${product.getName()}]]</li>
            <li class="list-group-item">Цена: [[${product.getPrice()}]]</li>
            <li class="list-group-item">Цвет: [[${product.getColor()}]]</li>
            <li class="list-group-item">Длина: [[${product.getLength()}]]</li>
            <li class="list-group-item">Бренд: [[${product.getBrand()}]]</li>
            <li class="list-group-item">Размер: [[${product.getSize()}]]</li>
            <li class="list-group-item">Стиль [[${product.getStyle()}]]</li>
        </ul>


    </div>
</div>
</body>
</html>